# compiled output
/dist/
/dist-demo/
/dist-tests/
/declarations/

# from scenarios
tmp/
config/optional-features.json
ember-cli-build.cjs

# deps & caches
node_modules/
.eslintcache
.prettiercache

# potentially containing secrets
*.local

# misc
/.pnp*
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# IDE
/.idea/
/*.iml
/jsconfig.json
/.history/
